@include for-tab-only {
  .container {
    padding: 0 10px;
    margin: 0 10px;
    max-width: 100%;
    overflow: hidden;
  }
}
@include for-phone-only {
  .container {
    padding: 0;
    margin: 0;
    max-width: 100%;
    overflow: hidden;
  }
}
