.nav {
  background-color: $primary-color;
  height: 40px;
  align-items: center;
  &__image {
    height: 25px;
    border: 2px solid $white;
    margin-left: 20px;
  }
  &__title {
    font-weight: bold;
  }
  &__links {
    a {
      text-decoration: none;
      color: $black;
      &.active {
        color: $white;
      }
    }
  }
}
