.post {
  padding-top: 30px;
  background-color: $table-odd-background;
  margin: 0 auto;
  &__button {
    color: $primary-color !important;
    text-decoration: none !important;
    font-size: 14px;
    font-weight: bold;
    padding: 20px;
    display: flex;
    width: 100px;
    margin: 0 auto;
    justify-content: center;
    cursor: pointer;
    &:hover {
      text-decoration: none;
      color: $primary-color;
    }
  }
  &__item {
    &--no_of_comments,
    &--no_of_upvotes {
      flex-basis: 10%;
      text-align: right;
      @include for-phone-only {
        font-size: 12px;
      }
    }
    &--no_of_upvotes {
      text-align: right;
    }
    &--title {
      font-weight: bold;
      font-size: 17px;
      @include for-phone-only {
        font-size: 12px;
      }
      @include for-tab-only {
        flex-basis: 50%;
      }
    }
    &--author {
      min-height: 30px;
      @include for-tab-only {
        flex-basis: 50%;
      }
      @include for-phone-only {
        font-size: 10px;
      }
    }
    &--upvote {
      width: 0;
      height: 0;
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      border-bottom: 10px solid $dark-grey;
      cursor: pointer;
      visibility: hidden;
    }
    &--container {
      padding: 2px 0;
      &:nth-of-type(odd) {
        background-color: $table-odd-background;
      }
      &:nth-of-type(even) {
        background-color: $table-even-background;
      }
    }
    &--link {
      cursor: pointer;
    }
    &--direction--mobile {
      @include for-tab-only {
        flex-direction: column;
        width: 50%;
      }
    }
    &--width--desktop {
      @include for-tablet-landscape-up {
        width: 100%;
      }
    }
  }
}
