.post {
  padding-top: 30px;
  background-color: $table-odd-background;
  margin: 0 auto;
  &__item {
    &--no_of_comments,
    &--no_of_upvotes {
      flex-basis: 10%;
      @include for-phone-only {
        font-size: 12px;
      }
    }
    &--title {
      font-weight: bold;
      font-size: 20px;
      flex-basis: 50%;
      @include for-phone-only {
        font-size: 12px;
      }
    }
    &--author {
      min-height: 30px;
      flex-basis: 50%;
      @include for-phone-only {
        font-size: 10px;
      }
    }
    &--upvote {
      width: 0;
      height: 0;
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      border-bottom: 10px solid $dark-grey;
      cursor: pointer;
    }
    &--container {
      padding: 10px 0;
      &:nth-of-type(odd) {
        background-color: $table-odd-background;
      }
      &:nth-of-type(even) {
        background-color: $table-even-background;
      }
    }
    &--link {
      cursor: pointer;
    }
    &--direction--mobile {
      @include for-tab-only {
        flex-direction: column;
        width: 50%;
      }
    }
    &--width--desktop {
      @include for-tablet-landscape-up {
        width: 100%;
      }
    }
  }
}
